a {
    color: black;
}

.field-validation-error{
    color: #f00;
}

.field-validation-valid{
    display:none;
}

.field-validation-error{
    border:1px solid #f00;
    background-color:#fee;
}

.validation-summary-errors{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid{
    display:none;
}

#header {
    width: 100%;
    /*background: url(../images/top.jpg) repeat-x;*/
    z-index: 110;
    background-size: cover;
    height: 50px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;   
}

.input-validation-error {
    border-color: red;
    background-color:#fee;
}






