
@{
   
    ViewBag.Title = "Home Page";
}


<div class="text-center">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12 col-md-12  col-md-12 col-xs-12">
                <h2>Cook it yourself</h2>
                <p>Here to help you make smart food choices</p>
                <div class="text-center">
                    <img  class="img-fluid rounded" alt="home page photo"src="~/images/home_search.jpg" asp-append-version="true" />
                </div>
            </div>
        </div>
    </div>
</div>







    <div class="row">
        <div class="col-lg-12 col-md-12  col-md-12 col-xs-12">
            <div id="imageCenter">                       </div>
            
        </div>
        </div>
